
<div class="products-container">

  <div *ngFor="let product of filteredProducts">
    <app-product-item [product]="product"></app-product-item>
  </div>

</div>


<!-- <div class="pagination">
  <a routerLink="/products" [queryParams]="{page: productPageCounter}" ><button  (click)="showMoreProducts()">&laquo;</button> </a>
  <a routerLink="/products" [queryParams]="{page: productPageCounter}"> <button (click)="showMoreProducts()">1</button></a>
  <a  routerLink="/products" [queryParams]="{page: productPageCounter}"><button (click)="showMoreProducts()">2</button></a>
  <a routerLink="/products" [queryParams]="{page: productPageCounter}"><button (click)="showMoreProducts()">3</button></a>
  <a routerLink="/products" [queryParams]="{page: productPageCounter}"><button (click)="showMoreProducts()">4</button></a>
  <a routerLink="/products" [queryParams]="{page: productPageCounter}"><button (click)="showMoreProducts()">5</button></a>
  <a routerLink="/products" [queryParams]="{page: productPageCounter}"><button (click)="showMoreProducts()">6</button></a>
  <a routerLink="/products" [queryParams]="{page: productPageCounter}"><button (click)="showMoreProducts()">&laquo;</button></a>
</div> -->

<!--<a ><button (click)="showMoreProducts()">&laquo;</button> </a>
  <a > <button (click)="showMoreProducts()">1</button></a>
  <a class="active"><button (click)="showMoreProducts()">2</button></a>
  <a ><button (click)="showMoreProducts()">3</button></a>
  <a ><button (click)="showMoreProducts()">4</button></a>
  <a ><button (click)="showMoreProducts()">5</button></a>
  <a ><button (click)="showMoreProducts()">6</button></a>
  <a ><button (click)="showMoreProducts()">&laquo;</button></a>-->


