<div class="header">
  <div class="content-1">
    <div class="logo">
      <div class="content border-0-2px-mischka"></div>
      <div class="click-tik inter-medium-black-16px">
        <span class="inter-medium-black-16px">ClickTik</span>
      </div>
    </div>
    <div class="text-1 inter-medium-pale-sky-16px">
      <a class="inter-medium-pale-sky-16px" routerLink="/products">Home</a>
    </div>
  </div>

  <div class="rectangle">
    <img class="shape" src="../../../assets/shape-1.png" alt="search logo">

    <div class="search">
      <input type="text" name="search" placeholder="Search">
    </div>
  </div>

  <img src="../../../assets/cart-1.png" alt="cart" class="cart-img">


  <div class="button-base">
    <div class="text inter-medium-pale-sky-16px">
      <a routerLink="/login" class="inter-medium-pale-sky-16px" (click)="logout()">Logout</a>
    </div>
  </div>




</div>


<div class="divider"></div>
