<div class="product-item  border-0-5px-cape-code">


  <div class="overlap-group-2" [ngStyle]="{ 'background-image': 'url(' + imageUrl + ')'}">


    <div class="rectangle-102"></div>


    <div class="text inter-bold-oxford-blue-12px">
      <span class="inter-bold-oxford-blue-12px">{{product.discountPercentage}}%</span>
    </div>

  </div>



  <div class="i-phone inter-bold-oxford-blue-20px">
    <span class="inter-bold-oxford-blue-20px">{{product.title}}</span>
  </div>

  <p class="description inter-normal-oxford-blue-14px">
    <span class="inter-normal-oxford-blue-14px">
      {{product.description}}
    </span>
  </p>

  <div class="price">
    <div class="number inter-bold-oxford-blue-12px">
      <span class="newprice inter-bold-oxford-blue-12px">{{newPrice}} USD</span>
    </div>

  </div>

  <div class="brand-group">
    <div class="brand inter-normal-oxford-blue-14px">
      <span class="inter-normal-oxford-blue-14px">Brand:</span>
    </div>

    <div class="apple inter-normal-oxford-blue-14px">
      <span class="inter-normal-oxford-blue-14px">{{product.brand}}</span>
    </div>

  </div>

  <div class="category-group">

    <div class="cateogry inter-normal-oxford-blue-14px">
      <span class="inter-normal-oxford-blue-14px">Category:</span>
    </div>

    <div class="category-name inter-normal-oxford-blue-14px">
      <span class="inter-normal-oxford-blue-14px">{{product.category}}</span>
    </div>

  </div>


  <div class="category-group">

    <div class="cateogry inter-normal-oxford-blue-14px">
      <span class="inter-normal-oxford-blue-14px">In stock:</span>
    </div>

    <div class="category-name inter-normal-oxford-blue-14px">
      <span class="inter-normal-oxford-blue-14px">{{product.stock}}</span>
    </div>

  </div>



  <div class="button-primary">
    <div class="add-to-cart opensans-bold--oxford-blue-16px">
      <span class="opensans-bold--oxford-blue-16px">Add to cart</span>
    </div>
  </div>

</div>
