.product-item {
  background-color: rgba(255, 255, 255, 0.502);
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 0.5rem;
  padding: .2rem 0;
  width: 21rem;
  height: 27rem;
}

.border-0-5px-cape-code {
  border-width: 0.5px;
  border-style: solid;
  border-color: rgba(65, 65, 65, 0.502);
}
.inter-bold-oxford-blue-12px {
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgba(52, 64, 84, 1);
}
.inter-normal-oxford-blue-14px {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: rgba(52, 64, 84, 1);
}

.overlap-group-2 {
  background: transparent no-repeat center;
  background-size: cover;
  height: 500px;
  position: relative;
}

.text {
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  padding: 1.5rem;

}





.rectangle-102 {
  background-color: rgba(86, 216, 216, 1);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  height: 1.9rem;
  left: 1rem;
  position: absolute;
  top: 1rem;
  width: 3.4rem;

  text-align: center;
}
.i-phone {
  letter-spacing: 0;
  margin-left: 1rem;
  margin-top: .5rem;

}
.inter-bold-oxford-blue-20px {
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgba(52, 64, 84, 1);
}

.description {
  align-self: center;
  letter-spacing: 0;
  margin-left: 1rem;
  margin-top: .5rem;
}
.price {
  display: flex;
  margin-left: 1rem;
  margin-top: .5rem;
  position: relative;
}

.number {
  letter-spacing: 0;

  position: absolute;
  top: 0;
}

.inter-bold-oxford-blue-12px {
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgba(52, 64, 84, 1);
}
.newprice {
  font-size: 1rem;
}
.brand-group {
  display: flex;
  margin-left: 1rem;
  margin-top: 1.5rem;

}
.brand {
  letter-spacing: 0;

}
.apple {
  letter-spacing: 0;
  margin-left: .2rem;
}

.category-group {
  display: flex;
  margin-left: 1rem;
  margin-top: .5rem;
}
.category {
  letter-spacing: 0;

}
.category-name {
  letter-spacing: 0;
  margin-left: .2rem;
}
.opensans-bold--oxford-blue-16px {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  color: rgba(52, 64, 84, 1);
}
.button-primary {
  align-items: center;
  background-color: rgba(86, 216, 216, 1);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  display: flex;
  height: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem ;
  margin-left: 1rem;
  width: 90%;
  padding: 1rem;
}
.add-to-cart {
  letter-spacing: 0;
  align-items: center;
  margin-left: 5rem;
}

