<div class="header">
  <div class="content-1">
    <div class="logo">
      <div class="content border-0-2px-mischka"></div>
      <div class="click-tik inter-medium-black-16px">
        <span class="inter-medium-black-16px">ClickTik</span>
      </div>
    </div>
    <div class="text-1 inter-medium-pale-sky-16px">
      <span class="inter-medium-pale-sky-16px">Home</span>
    </div>
  </div>
  <div class="button-base">
    <div class="text inter-medium-pale-sky-16px">
      <span class="inter-medium-pale-sky-16px">Log in</span>
    </div>
  </div>
</div>

<div class="divider"></div>

