<div class="login">


  <div class="header-1">
    <div class="content-2"></div>
    <div class="text-and-supporting-text">
      <h1 class="text-2 inter-normal-mirage-30px">
        <span class="inter-normal-mirage-30px">Log in to your account</span>
      </h1>
      <p class="supporting-text inter-normal-pale-sky-16px">
        <span class="inter-normal-pale-sky-16px">Welcome back! please enter your details</span>
      </p>
    </div>
  </div>


  <div class="content-3">

    <form class="form" #loginForm="ngForm" (submit)="login(loginForm)">


      <div class="input-field">

        <label for="email" class="label inter-medium-oxford-blue-14px">Email</label>
        <div class="input-class">
          <input type="text" name="email" placeholder="Enter your email" ngModel required>
        </div>

      </div>

      <div class="input-field">
        <label for="password" class="label inter-medium-oxford-blue-14px">Password</label>
        <div class="input-class">
          <input type="password" name="password" placeholder="Enter your password" ngModel required>
        </div>
      </div>


      <button [disabled]="loginForm.invalid">Sign in</button>


    </form>

  </div>



</div>


